/*General*/

body {
    margin: 0;
}

i {
    padding: 10px;
}



/*Navigation*/
#nav-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: white;
}

/*Left Section*/

#left-section {
    margin-top: 80px;
    float: left;
    width: 25%;
    display: none;
}

/*Right Section*/

#rigth-section {
    margin-top: 80px;
    float: right;
    width: 25%;
    display: none;
}

i.conected {
    color: #3BE953;
}

i.absent {
    color: #E9E63B;
}

i.disconnected {
    color: #B8B8B3;
}

i.confirm-conected {
    color: #E9E63B;
}


/*Main Section*/

#main-container {
    position: relative;
    top: 80px;
    height: 400vh;
}

img.profile {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

/*Profile Section*/

#profile-section {
    display: none;
}

/*News Feed Section*/

#newsfeed-section {
    display: none;
    margin-left: 5%;
}

#postAda {
    display: none;
}

#postLaboratoria {
    display: none;
}

#postLaboratoria2 {
    display: none;
}

#postLevitha {
    display: none;
}

img.pic-meme, img.lab-picture {
    height: 300px;
    width: 100%;
}

/*Footer*/
