/*General*/

body {
    margin: 0;
}

i {
    padding: 10px;
}

/*Navigation*/
#nav-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: white;
}

/*Left Section*/

#left-section, #profile-section {
    margin-top: 80px;
    float: left;
    width: 25%;
    display: none;
}

#profile-section {
    margin-left: 40px;
}

img.ada-picture-profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

/*Right Section*/

#rigth-section {
    margin-top: 80px;
    float: right;
    width: 25%;
    display: none;
}

i.conected {
    color: #3BE953;
}

i.absent {
    color: #E9E63B;
}

i.disconnected {
    color: #B8B8B3;
}

i.confirm-conected {
    color: #E9E63B;
}


/*Main Section*/

#main-container {
    position: relative;
    top: 80px;
    height: 400vh;
}

img.profile, img.sofia2 {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

/*Profile Section*/

#profile-section, #profile-section-content {
    display: none;
}

#profile-section-content {
    padding: 15px;
}

#sofia {
  border-radius: 50%;
}

#profile-section {
}


#profileBadges img {
  width: 20%;
}

#jobLogo {
  width: 13%;
  border-radius: 50%;
}

#userLanguages img {
  width: 15%;
  border-radius: 50%;
}

#redesUsuario a  img {
  width: 15%;
}


/*Upload Pictures*/

#albumCover {
  position: relative;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#statusBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

/*News Feed Section*/

#newsfeed-section {
    display: none;
    margin-left: 5%;
}

#postAda {
    display: none;
}

#postLaboratoria {
    display: none;
}

#postLaboratoria2 {
    display: none;
}

#postLevitha {
    display: none;
}

img.pic-meme, img.lab-picture {
    height: 300px;
    width: 100%;
}

/*Footer*/
