/*General*/

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

i {
    padding: 10px;
}

#who-follow, #interesting-info {
    background-color: #e0e0e0;
    color:  black;
    border: #e0e0e0;
}

/*Navigation*/
#nav-header {
    position: fixed;
    width: 100%;
    z-index: 15;
    background-color: #045B77;
    color: white;
}

#news-feed, #profile, #logout {
    color: white;
    padding-top: 15px;
}

#title-brand {
    color: white;
    padding: 10px;
    margin: 0;
}

.name-brand {
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 10px;
}

i.burger-menu {
    display: none;
    color: white;
}
/*Left Section*/

#left-section, #profile-section {
    margin-top: 80px;
    float: left;
    width: 25%;
    display: none;
}

#profile-section {
    margin-left: 40px;
}

img.ada-picture-profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.cont-info {
    border-bottom: 1px solid grey;
    padding: 0;
}

#profileBadges {
    padding-top: 10px;
    padding-bottom: 20px;
}

h3.followingTo {
    padding: 10px;
    border-bottom: 1px solid grey;
}

h5.programming-languages {
    padding: 15px;
}


#redesUsuario {
    border-top: 10px;
}

#userLanguages {
    text-align: left;
    margin-left: -10px
}


/*Right Section*/

#rigth-section, #images-right {
    margin-top: 85px;
    float: right;
    width: 25%;
    display: none;
}

i.conected {
    color: #3BE953;
}

i.absent {
    color: #E9E63B;
}

i.disconnected {
    color: #B8B8B3;
}

i.confirm-conected {
    color: #E9E63B;
}

#btn-follow1, #btn-follow2, #btn-follow3, #btn-follow4, #btn-follow5 {
    background-color: #2DBEBB;
    color: white;
    border: #2DBEBB;
}

.small-letter {
    font-size: 12px;
}

#rigth-section {
    z-index: 7;
}



/*Main Section*/

#main-container {
    position: relative;
    top: 85px;
    height: 400vh;
}

img.profile, img.sofia2 {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

#publish2, #publish {
    background-color: #2DBEBB;
    color: white;
    border: #2DBEBB;
}

#first-textarea {
    z-index: -1;
}

div.btn-direct-access {
    display: none;
}

/*Profile Section*/

#profile-section, #profile-section-content {
    display: none;
}

#profile-section-content {
    padding: 15px;
}

#sofia {
    border-radius: 50%;
}

#profileBadges img {
    width: 20%;
}

#jobLogo {
    width: 13%;
    border-radius: 50%;
}

#userLanguages img {
    width: 15%;
    border-radius: 50%;
}

#redesUsuario a  img {
    width: 15%;
}


/*Upload Pictures*/

#albumCover {
    position: relative;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#statusBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

/*News Feed Section*/

#newsfeed-section {
    display: none;
    margin-left: 5%;
}

#postAda {
    display: none;
}

#postLaboratoria {
    display: none;
}

#postLaboratoria2 {
    display: none;
}

#postLevitha {
    display: none;
}

img.pic-meme, img.lab-picture {
    height: 300px;
    width: 100%;
}

/*Footer*/

footer {
    width: 100%;
    height: 80px;
    background-color: #045B77;
    color: white;
}

p.copyright {
    padding: 25px;
    align-content: center;
}

/* Media Query */

@media screen and (min-width:320px ) and (max-width:576px){

    h2#title-brand {
        font-size: 20px;
    }

    i.burger-menu {
        display: block;
        padding-top: 20px;
    }

    #news-feed  {
        display: none;
    }

    #profile {
        display: none;
    }

    #logout {
        display: none;
    }

    ul#list-icons {
        align-content: center;
    }

    #rigth-section {
        position: absolute;
        top: 65%;
        left: 24%;
        width: 80%;
        z-index: 5;
    }

    section#images-right {
        position: absolute;
        top: 140%;
        left: 2%;
        width: 80%;
        z-index: 3;
    }

    section#profile-section-content {
        margin-left: 15px;
    }

    #profileBadges, #redesUsuario {
        width: 140px;
    }

    #jobLogo {
        width: 30px;
    }

    #userLanguages {
        width: 160px;
    }

    span.name-da {
        display: none;
    }

    h3.followingTo, h5.programming-languages {
        font-size: 15px;
    }
    #interesting-info {
        font-size: 12px;
        text-align: center;
    }

}
